@import
url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

html {
  background: #f7f7f7;
}

body {
  background: white;
  max-width: 1000px;
  font-family: 'Sen', sans-serif;
  /* font-family: Tahoma, Geneva, sans-serif; */
  margin: 0 auto;
  color: rgb(49, 48, 48);
}

main {

}

header, footer {
  background: #333a40;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0e69e9;
}

header li {
  display: inline;
}

header h1, nav {
  display: inline-block;
}

main {
  width: 680px;
  display: inline-block;
  padding: 10px;
}

aside {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;

}

img {
  max-width: 100%;
}

#name {

}

#email {

}

#message {

}

#Cart {
  position:
  top:
  left:
}

#backTop {
  animation-name: out;
  animation-direction: reverse;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0e69e9;
  color: white;
  padding: 10px;
  display: inline-block;
  border: 1px;
  border-radius: 2px;
}

#backTop:hover {
  animation-name: out;
  animation-delay: 0.1s;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}


/* animation code for fading in and out */
@keyframes out {
  from {background-color: #0e69e9;}
  to {background-color: lightblue;}
}



.item {
  box-sizing: border-box;
  border: 1px solid grey;
  width: 210px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.button {
  padding: 10px;
  display: inline-block;
}


.button:last-of-type {
  background-color: #0e69e9;
  color: white;
}


/* Product detail page */
.product-detail {
  width: 660px;

}

.product-detail img {
  max-width: 50%;
  float: left;
}
